<article class="customer__container">
  <div class="customer__menu">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
      <div class="form__flex">
        <label tuiLabel class="tui-space_bottom-4">
          <tui-input-number
            formControlName="amount"
            tuiTextfieldSize="m"
            [tuiTextfieldCleaner]="true"
            decimalSeparator=","
            thousandSeparator="."
            [max]="999999999"
            [tuiTextfieldPrefix]="'USD' | tuiCurrency"
          >
            Monto <span>*</span>
          </tui-input-number>
          <tui-error
            formControlName="amount"
            [error]="[''] | tuiFieldError | async"
          />
        </label>

        <label tuiLabel class="tui-space_bottom-4">
          <tui-select
            tuiTextfieldSize="m"
            formControlName="type"
            [valueContent]="TypeLabel"
            class="select__customer"
          >
            Típo <span>*</span>
            <input placeholder="Selecciona un cliente" tuiTextfieldLegacy />
            <ng-template tuiDataList>
              <tui-data-list>
                @for (item of type(); track $index) {
                  <button
                    class="button__select"
                    tuiOption
                    type="button"
                    [value]="item"
                  >
                    {{ item.label }}
                  </button>
                }
              </tui-data-list>
            </ng-template>
            <ng-template #TypeLabel let-item>
              {{ item.label }}
            </ng-template>
          </tui-select>
          <tui-error
            formControlName="type"
            [error]="[''] | tuiFieldError | async"
          />
        </label>

        <label tuiLabel class="tui-space_bottom-4">
          <tui-select
            tuiTextfieldSize="m"
            formControlName="customer"
            [valueContent]="customerName"
            class="select__customer"
          >
            Cliente <span>*</span>
            <input placeholder="Selecciona un cliente" tuiTextfieldLegacy />
            <ng-template tuiDataList>
              <tui-data-list>
                @for (item of customers(); track $index) {
                  <button
                    class="button__select"
                    tuiOption
                    type="button"
                    [value]="item"
                  >
                    {{ item.name }}
                  </button>
                }
              </tui-data-list>
            </ng-template>
            <ng-template #customerName let-item>
              {{ item.name }}
            </ng-template>
          </tui-select>
          <tui-error
            formControlName="customer"
            [error]="[''] | tuiFieldError | async"
          />
        </label>
      </div>

      <label tuiLabel class="tui-space_bottom-4">
        <tui-input
          formControlName="description"
          tuiTextfieldSize="m"
          [tuiTextfieldCleaner]="true"
        >
          Descripción
          <input tuiTextfieldLegacy type="text" [autocomplete]="false" />
        </tui-input>
        <tui-error
          formControlName="description"
          [error]="[''] | tuiFieldError | async"
        />
      </label>

      <button type="submit">Crear</button>
    </form>
  </div>
</article>
