<section class="dashboard__home">
  <article class="dashboard__info"></article>

  <article class="dashboard__customers">
    <div class="customers__container">
      @for (customer of customers(); track $index) {
        <div class="customers__card">
          <h2>{{ customer.name }}</h2>

          <div class="customer__balance">
            @if (customer.account.debt === 0) {
              <h3>
                <span class="positive">{{
                  customer.account.balance | currency: "ARS"
                }}</span>
              </h3>
            } @else {
              <h3>
                <span class="negative">
                  - {{ customer.account.debt | currency: "ARS" }}
                </span>
              </h3>
            }
          </div>
        </div>
      }
    </div>
  </article>
</section>
